.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: auto;
  position: relative;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

body.dashboard-scroll-hidden {
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body.dashboard-scroll-hidden::-webkit-scrollbar {
  display: none;
}

