@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/xirod");

@import "tailwindcss";

:root {
  --mutant-color: #7343b3;
  --background: #ffffff;
  --foreground: #010101;
  --blackcolor: #000000;
  --primary: #9159d1;
  --primary-dark: #6523d9;
  --primary-light: #844cdc;
  --secondary: #4a00bc;
  --accent: #131313;
  --card: #0f0f0f;
  --error: #d93025;
  --warning: #fbbc05;
  --success: #34a853;
  --info: #cde98d;
  --border: #e0e0e0;
  --shadow: rgba(0, 0, 0, 0.1);
  --text: #888888;
  --text-light: #6a6a6a;
  --button-color: #676767;
  --button-border-color: #525252;
  --button-hover-color: #4a4a4a;
  --link-color: #868686;
  --btn-bg-color: #0c0c0c;
  --otp-color: #101010;
  --side-textcolor: #898989;
  --sidebar-linkcolor: #aeaeae;
  --sidebar-hovercolor: #bde75d;
  --small-textcolor: #616161;
  --greencolor: #247e4e;
  --purpel-btncolor: #604196;
  --coco-color: #c0c0c0;
  --black-background: #0f0f0f;
  --black-bg: #0d0d0d;
  --button-background: #1c1c1c;
}

/* styles/globals.css */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--accent) inset !important;
  -webkit-text-fill-color: white !important;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
}

.Xirod {
  font-family: "Xirod", sans-serif;
}

@font-face {
  font-family: "Xirod";
  src: url("/fonts/xirod.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.px {
  padding-left: 15px;
  padding-right: 15px;
}

.py {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn {
  background: linear-gradient(to right, var(--primary), var(--secondary));
}

.btn2 {
  background: linear-gradient(to right, #d1b959, var(--secondary));
}

.btn:hover {
  background: linear-gradient(to right, var(--primary-light), var(--secondary));
}

.studentbtn2 {
  background: linear-gradient(to right, #840b94, #af7b34);
}

.studentbtn2:hover {
  background: linear-gradient(to right, #af7b34, #840b94);
}

.evolution-button {
  position: relative;
  background: var(--text-light);
  padding: 1px;
  clip-path: polygon(
    20px 0%,
    /* top-left cut */ 100% 0%,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    /* bottom-right cut */ 0% 100%,
    0% 20px
  );
}

.padding-left {
  padding-left: 30px;
}

.evolution-button-inner {
  background: var(--foreground);
  color: white;
  padding: 1.25rem;
  clip-path: polygon(
    20px 0%,
    100% 0%,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0% 100%,
    0% 20px
  );
}

.margintopbootom {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cut-box {
  position: relative;

  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);

  padding: 1px;
}

.cut-box-inner {
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  padding: 1.25rem;
  color: white;
}

.cut-box2 {
  position: relative;
  /* width: full; */
  /* background: ; */
  clip-path: polygon(
    0 0,
    100% 0%,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
  padding: 1px;
}

.cut-box-inner2 {
  clip-path: polygon(
    0 0,
    100% 0%,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
  padding: 1.25rem;
}

.cut-box3 {
  background: #ffffff;
  padding: 2px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

.cut-box-inner3 {
  /* background: var(--foreground); */
  height: 31.05px;
  width: 118.05px;
  padding: 1.25rem;
  /* color: white; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

/* Second Box - Top Left Cut */
.cut-box4 {
  background: #ffffff;
  padding: 2px;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}

.cut-box-inner4 {
  height: 31.05px;
  width: 118.05px;
  /* background: var(--foreground); */
  padding: 1.25rem;
  /* color: white; */
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}

.mt-mutantlogin {
  margin-top: 1%;
}
/* Add to global styles or inside a <style jsx> block */
.loader {
  border-top-color: #facc15; /* yellow */
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@media (max-width: 1024px) {
  .mt-mutantlogin {
    margin-top: 10%;
  }

  .herosection-mb {
    margin-top: 10%;
  }
}

@media (max-width: 640px) {
  .padding-left {
    padding-left: 0px;
  }
  .margin-btn-smallScreen {
    margin-top: 50px;
  }
  .px {
    padding-left: 13px;
    padding-right: 13px;
  }
  .marginTopSSmall {
    margin-top: 250px;
  }
  .py {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .mt-mutantlogin {
    margin-top: 5% !important;
  }

  .cut-box,
  .cut-box2 {
    position: relative;
    /* background: var(--text-light); */
    padding: 1px;
    border-radius: 10px;
    clip-path: none;
  }

  .cut-box-inner,
  .cut-box-inner2 {
    background: var(--foreground);
    padding: 1.25rem;
    color: white;
    border-radius: 10px;
    clip-path: none;
  }

  .radiobtn {
    width: 28px;
    height: 28px;
    border: 2px solid var(--button-border-color);
    border-radius: 50%;
    background: transparent;
  }

  .px-radio {
    padding: 1.25rem;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .cut-box-inner3,
  .cut-box-inner4 {
    height: 100%;
    width: 100%;
    padding: 1.25rem;
    clip-path: none;
  }

  .cut-box4,
  .cut-box3 {
    margin-bottom: 10px;
    width: 100%;
  }

  .cut-box2 {
    width: 100%;
    background: var(--text-light);
    padding: 1px;
    clip-path: none;
  }
}
